{% extends "real_effort_numbers_t_nt/base/global.html" %} 

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    CONSENTIMIENTO INFORMADO
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
    
    {% formfields %}
    {% next_button %}

{% endblock %}