{% block title %}
    Restas
{% endblock %}


{% block content %}

    <table class="table" style="text-align:right" colspan="2" >
    <tr>
        <td style="font-size:30px"><label id="number_2">{{ number_2 }}</label> - <label id="number_1">{{ number_1 }}</label> = </td>
        <td> <input type="number" name="number_entered" required id="number_entered" class="form-control" autofocus="" value="0"> </td>
    </tr>
    </table>


    <b> Restas correctas: </b> <span id="correct_answers">{{correct_answers}}</span>
    <b> Restas totales: </b> <span id="total_answers">{{total_answers}}</span>
    <b> Restas incorrectas: </b> <span id="wrong_answers">{{wrong_answers}}</span>

    <b>Ronda </b> {{player.round_number}} de {{Constants.num_sub_rounds_stage_1}}

    {% next_button %}

{% endblock %}


{% block scripts %}
    <script>


        //Editar el comportamiento del boton de next de otree
        $(document).ready(function (){
            $(".otree-btn-next").attr("onclick", "sendAnswer()");  //En el evento de click agregar la funcion para enviar respuesta
            $(".otree-btn-next").attr("type", "button");
        });
        
        //Metodo para validar la respuesta ingresada y si es correcta devuelvo 1 y sino 0
        function validateSubstract(number_1, number_2, number_entered){

            let result = number_2 - number_1; //40 - 20 = 20 -> number_entered = 15
            let correct_answer = 0;
            if (result == number_entered){
                correct_answer = 1;
            }
            return correct_answer;
        }

        //Metodo para enviar la respuesta en vivo al metodo live_method de la pagina en pages.py
        function sendAnswer(){
            let number_2 = parseInt($("#number_2").html()); //Tomar los valores del html y convertir en entero
            let number_1 =  parseInt($("#number_1").html());
            let number_entered = parseInt($("#number_entered").val());
            let correct_answer = validateSubstract(number_1, number_2, number_entered); //el resultado es 1 si quedo buena o 0 si quedo mala
            liveSend(correct_answer);//Metodo para enviar a otree la informacion en tiempo real
        }
        
        //Metodo que recibe la respuesta del metodo live_method de la pagina en pages.py
        function liveRecv(data){
            
            //Poner los numeros nuevos
            $("#number_1").html(data.number_1);
            $("#number_2").html(data.number_2);

            //Modificar los valores de restas totales, correctas e incorrectas
            $("#correct_answers").html(data.correct_answers);
            $("#total_answers").html(data.total_answers);
            $("#wrong_answers").html(data.wrong_answers);
        }






    </script>


{% endblock %}